<section class='title'>
  <h1 class='title-text'>Uber Boggle</h1>
</section>
<section class='content'>
  <section class='board-section'>
    <div class='h-board'>
  </section>
  <section class='word-section'>
    <section class='h-control-panel'>
    </section>
    <section class='h-words-panel'>
    </section>
  </section>
</section>
