<section class='board'>
  <section class='board-tiles'>
    <section class='board-row'>
      <section class='board-item'>
        A
      </section>
      <section class='board-item'>
        B
      </section>
      <section class='board-item'>
        C
      </section>
      <section class='board-item'>
        D
      </section>
    </section>
    <section class='board-row'>
      <section class='board-item'>
        E
      </section>
      <section class='board-item'>
        F
      </section>
      <section class='board-item'>
        G
      </section>
      <section class='board-item'>
        H
      </section>
    </section>
    <section class='board-row'>
      <section class='board-item'>
        I
      </section>
      <section class='board-item'>
        J
      </section>
      <section class='board-item'>
        K
      </section>
      <section class='board-item'>
        L
      </section>
    </section>
    <section class='board-row'>
      <section class='board-item'>
        M
      </section>
      <section class='board-item'>
        N
      </section>
      <section class='board-item'>
        O
      </section>
      <section class='board-item'>
        P
      </section>
    </section>
  </section>
  <section class='board-paths'>
    <section class='board-path'>
      <section class='board-path-point'>
      </section>
      <section class='board-path-line'>
      </section>
      <section class='board-path-point'>
      </section>
      <section class='board-path-line'>
      </section>
      <section class='board-path-point'>
      </section>
      <section class='board-path-line'>
      </section>
      <section class='board-path-point'>
      </section>
    </section>
  </section>
</section>
