<section class='board'>
  <table class='board-tiles'>
    {{#each board}}
      <tr class='board-row'>
        {{#each this}}
          {{#if ../../isPreGame}}
            <td class='inactive-board-tile'>
              &middot;
            </td>
          {{/if}}
          {{#if ../../isInGame}}
            <td class='board-tile'>
              {{this}}
            </td>
          {{/if}}
          {{#if ../../isPostGame}}
            <td class='inactive-board-tile'>
              {{this}}
            </td>
          {{/if}}
        {{/each}}
      </tr>
    {{/each}}
  </table>
  <section class='board-paths'>
    {{#if path}}
    {{/if}}
  </section>
</section>
