<section class='board'>
  <section class='board-tiles'>
    {{#each board}}
      <section class='board-row'>
        {{#each this}}
          {{#if ../../isPreGame}}
            <section class='inactive-board-tile'>
              &middot;
            </section>
          {{/if}}
          {{#if ../../isInGame}}
            <section class='board-tile'>
              {{this}}
            </section>
          {{/if}}
          {{#if ../../isPostGame}}
            <section class='inactive-board-tile'>
              {{this}}
            </section>
          {{/if}}
        {{/each}}
      </section>
    {{/each}}
  </section>
  <section class='board-paths'>
    {{#each paths}}
    {{/each}}
  </section>
</section>
