<section class='word-panel'>
  <section class='word-input'>
    <input class='word-input-input' type='text'>
    </input>
    <section class='word-validity'>
      {{#if isChecking}}
        ...checking...
      {{/if}}
      {{#if isntReal}}
        Not a word
      {{/if}}
      {{#if isntOnBoard}}
        Not on board
      {{/if}}
      {{#if isntUnique}}
        Word has already been used
      {{/if}}
    </section>
    <section class='word-input-points'>
      {{currentPoints}} pts
    </section>
  </section>
  <section class='word-list'>
    {{#each words}}
      <section class='word-item'>
        <section class='word-literal'>
          {{this.literal}}
        </section>
        <section class='word-points'>
          {{this.value}} pts
        </section>
      </section>
    {{/each}}
  </section>
</section>
