<section class='word-panel'>
  <section class='word-input'>
    <input class='word-input-input' type='text'>
    </input>
    <section class='word-validity'>
      Word has already been used
    </section>
    <section class='word-input-points'>
      5 pts
    </section>
  </section>
  <section class='word-list'>
    <section class='word-item'>
      <section class='word-literal'>
        Foo
      </section>
      <section class='word-points'>
        3 pts
      </section>
    </section>
    <section class='word-item'>
      <section class='word-literal'>
        Bacon
      </section>
      <section class='word-points'>
        5 pts
      </section>
    </section>
  </section>
</section>
