<section class='control-panel'>
  {{#if isPreGame}}
    <a class='start-button' href='#'>
      Start
    </a>
  {{else}}
    {{#if isInGame}}
      <section class='time-left'>
        <div class='time-left-count'>
          {{timeLeft}}
        </div>
        <div class='time-left-label'>
          seconds
        </div>
      </section>
    {{/if}}
    {{#if isPostGame}}
      <section class='times-up'>
        Game Over
      </section>
    {{/if}}
    <section class='points-display'>
      <div class='points-display-count'>
        {{points}}
      </div>
      <div class='points-display-label'>
        points
      </div>
    </section>
    {{#if isInGame}}
      <a class='quit-button' href='#'>
        Quit
      </a>
    {{/if}}
    {{#if isPostGame}}
      <a class='replay-button' href='#'>
        Play Again
      </a>
    {{/if}}
  {{/if}}
</section>
