<section class='control-panel'>
  <section class='time-left'>
    <section class='time-left-count'>
      50
    </section>
    <section class='time-left-label'>
      seconds
    </section>
  </section>
  <section class='time-left'>
    <section class='time-left-count'>
      8
    </section>
    <section class='time-left-label'>
      points
    </section>
  </section>
  <section class='start-button'>
    Quit
  </section>
</section>
