<section class='control-panel'>
  {{#if isPreGame}}
    <section class='start-button'>
      Start
    </section>
  {{else}}
    {{#if isInGame}}
      <section class='time-left'>
        <section class='time-left-count'>
          {{timeLeft}}
        </section>
        <section class='time-left-label'>
          seconds
        </section>
      </section>
    {{/if}}
    {{#if isPostGame}}
      <section class='times-up-label'>Score:</section>
    {{/if}}
    <section class='time-left'>
      <section class='time-left-count'>
        {{points}}
      </section>
      <section class='time-left-label'>
        points
      </section>
    </section>
    {{#if isInGame}}
      <section class='quit-button'>
        Quit
      </section>
    {{/if}}
    {{#if isPostGame}}
      <section class='replay-button'>
        Play Again
      </section>
    {{/if}}
  {{/if}}
</section>
